@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF3811;
  --secondary-color: #151515;
  --dark-two-color: #444444;
  --accent-color: #737373;
  --neutral-color: #F3F3F3;
  --base-color: #29B170;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
